# Calculating Stock Returns using Pandas DataFrames

## 1. Import Libaries and Dependencies

In [17]:
# Import necessary libraries and dependencies
import pandas as pd
%matplotlib inline

## 2. Create a Path to the File Using Pathlib

In [18]:
# Use the Pathlib libary to set the path to the CSV
from pathlib import Path

## 3. Read CSV in as DataFrame

In [19]:
# Read in the CSV as a DataFrame
path_in = Path('../Resources/MSFT.csv')
pd.read_csv(path_in, index_col='date', parse_dates=True, infer_datetime_format= True)

             close    volume    open      high       low
date
2009-08-03   23.83  46843710   23.82   23.8600   23.5000
2009-08-04   23.77  49116380   23.68   23.7900   23.5300
2009-08-05   23.81  53263040   23.84   24.2500   23.7900
2009-08-06   23.46  59655950   23.93   23.9800   23.2700
2009-08-07   23.56  46165010   23.75   23.8200   23.5000
...            ...       ...     ...       ...       ...
2019-07-26  141.34  19037600  140.37  141.6750  140.3000
2019-07-29  141.03  16605870  141.50  141.5100  139.3663
2019-07-30  140.35  16846530  140.14  141.2199  139.8005
2019-07-31  136.27  38598790  140.33  140.4900  135.0800
2019-08-01  138.06  40557500  137.00  140.9383  136.9300

[2517 rows x 5 columns]

## 4. Drop Extra Columns

In [13]:
# Drop unnecessary columns

df.drop(columns=[])

NameError: name 'df' is not defined

## 5. Plot Daily Close

In [14]:
# Plot the daily closing stock price of the S&P 500 over the last 5 years
df.plot()

NameError: name 'df' is not defined

## 6. Calculate Daily Returns

In [16]:
# Calculate the daily return using the 'pct_change()' function
daily_return = df.pct_return()

NameError: name 'df' is not defined

## 7. Plot Daily Returns

In [15]:
# Plot the daily returns of MSFT over the last 10 years
daily_returns.plot(figure_size(10, 5))

NameError: name 'daily_returns' is not defined

## 8. Calculate Cumulative Returns

In [ ]:
# Calculate the cumulative returns using the 'cumprod()' function
cumm_returns = (1 + daily_return).cumprod()-1
print(cumm_returns)

## 9. Plot Cumulative Returns

In [ ]:
# Plot the daily returns of the S&P 500 over the last 5 years
cumm_returns.plot()